* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
@font-face {
    font-family: "latest-book";
    src: url('azure img/latest.woff2');
}
@font-face {
    font-family:"latest-bold";
    src: url("azure img/latest (1).woff2");
}
@font-face {
    font-family: "m-fluent";
    src: url('azure img/MWFFluentIcons.woff2');
}
.tab-header{
    display: none;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.toggi{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 12px;
}
.toggi img {
    width: 20px;
    height: 45px;
}
.toggi p{
   font-size: 17px;
    font-family: latest-bold;
     padding-bottom: 7px; 
    }
.azure-logo {
    display: flex;
    text-align: center;
    justify-content: center;
}
 .azure-logo img {
   padding-left: 17px;
   display: flex;
   align-items: center;
} 
.top-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    column-gap: 35px;
}
span {
    height: 16px;
    margin-right: -2px;
}
.top-end span::after{
    content:"";
    font-family: "m-fluent";
    font-size: 18px;
    margin-left: -1.95px;
}
.top-end p {
   font-size: 14px;
   font-family: "latest-book";  
   letter-spacing: -0.48px;
   padding-right: 2px;
   padding-bottom: 3px;
}
.chat-sales {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    position: fixed;
    right: 16px;
    top: 843px;
    z-index: 200;
    height: 46px;
    width: 149px;
    border: 1px solid transparent;
    border-radius: 9px;
    background: #0067b8;

}
.chat-sales span::after{
    content: "";
    font-family: m-fluent;
    color: #fff;
    font-size: 15px;
    margin-left: -4px;
}
.chat-sales p{
    font-size: 15px;
    font-family: latest-bold;
    color: #fff;
    letter-spacing: -0.3px;
    padding-left: 3.6525px;
    word-spacing: 0px;
    padding: 10px 14px 10px -1px;
}
.main-banner{
    height: 56vw;
    margin-top: -1px;
}
.main-banner img {
    width: 100%;
    height: 100%;
}
.laptop-bg img {
    display: none;
}
.first-text
{
    background: linear-gradient(90deg, #ede8f6 0%, #f4fafd 49.99%, #dceef8 100%);
  padding: 31.5px 16px 25.5% 16px
}
.first-text h1 {
    display: flex;
    justify-content: start;
    font-size: 32px;
    font-family: latest-bold;
    color: #17243D;
    letter-spacing: -0.05em;
    word-spacing: 0px;
    line-height: 40px;
}
.first-text p{
    font-size: 18px;
    font-family: latest-book;
    color: #17243D;
    line-height: 28px;
    margin-top: 12px;
    word-spacing: 0px;
    letter-spacing: -0.03em;
}
.get-start span{
 display: flex;
 justify-content: center;
 font-size: 15px;
 font-family: latest-bold;
 padding: 2px 0px 0px;
 color: #fff;
 letter-spacing: -0.3px;
 margin-left: -2px;
}
.get-start{
    border: 1px solid #0078d4;
    border-radius: 7px;
    background-color: #0078d4;
    height: 48.5px;
    width: 100%;
    padding: 10px 14px;
    margin-top: 24px;
}
.try-azure span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: latest-bold;
    padding: 8px 0px 2px;
    color: #2a446f;
    letter-spacing: -0.3px;
    margin-left: -2px;
}
.try-azure {
    border: 2px solid #333;
    border-radius: 7px;
    background-color: transparent;
   height: 48px;
    width: 100%;
    padding: 10px 14px;
    margin-top: 8px;
}
.featured-news {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px 16px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-bottom: 10px;
    height: 60px;
}
.featured-news p{
    font-size: 12px;
    font-family: latest-bold;
    letter-spacing: -0.5px;
    padding-left: 1px;
    margin-top: -1px;
    color: #2a446f;
}
.featured-news::after{
    content: "";
    font-family: m-fluent;
    margin-top: -5px;
}
 .featured-news2{
    display: none;
} 
.section-bg {
    position: relative;
    margin-top: -15px;
    margin-bottom: 77px;
}
.section-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.section-bg-img img {
    width: 100%;
    height: 1344.88px;
    object-fit: cover;
}
.section-cards {
    margin: 16px;
}
.first-section p {
   font-size: 12px;
    font-family: latest-bold;
    color: #263E65;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.first-section {
    padding-top:53px ;
}
.first-section h2{
    font-family: latest-bold;
    font-size: 28px;
    word-spacing: 0px;
    letter-spacing: -0.05em;
    line-height: 36px;
    margin-top: 12px;
}
.cards {
    padding: 0px 4px 0px 1px;
}
.card{
    padding: 7px;  
    padding-bottom: 0px; 
    margin-top: 32px;
    border: 1px solid #fff ; 
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: -22px;
}
.card img{
   width: 100%;
   border-radius: 6px;
}
.card-text {
   padding: 11px 4px 15px 7px;
}
.card-text h2{
    font-size: 18px;
    font-family: latest-bold;
    word-spacing: 0px;
    letter-spacing: -0.03em;
}
.card-text p{
    font-size: 16px;
    font-family: latest-book;
    line-height: 24px;
    padding-top: 15px;
    letter-spacing: -0.03em;
    word-spacing: 0px;
    color: #17253d;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    margin-top: 14px;
}
.card-footer span::before{
    content: "";
    font-family: "m-fluent";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
}
.card-footer span{
    border: 1px solid transparent;
    background-color: #0078d4;
    border-radius:6px;
    align-items: center;
    height: 30px;
    width: 30px; 
    margin-top: 17px;
}
.card-footer p{
    font-size: 15px;
    font-family: latest-bold;
    color: #2a446f;
}

article {
    background: #F4FAFD;
    padding: 48px 16px;
}
.solutions{
    line-height: 45px;
    display: flex;
    flex-direction: column;
}
.solutions p{
   font-size: 12px;
   font-family: latest-bold;
   color: #263E65;
   letter-spacing: 0.96px;
}
.solutions h3 {
    font-size: 23px;
    font-family: latest-bold;
    line-height: 32px;
    word-spacing: 0px;
    letter-spacing: -0.03em;
    margin-top: 1px;
}
 .scroll-ele {
    margin-top: 29px;
    position: relative;
}
 .scroll-ele ul {
 display:flex;
 white-space: nowrap;
 overflow: scroll;
 column-gap: 8px;
 }
 .scroll-ele ul::-webkit-scrollbar{
    display: none;
 }
 .scroll-ele li{
    position: relative;
    font-size: 16px;
    font-family: latest-book;
    white-space: nowrap;
    list-style-type: none;
}
.scroll-ele li h3{
    border: 1px solid #005597;
    border-radius: 21px;
    background-color: #005597;
    color: #fff;
    font-size: 16px;
    font-family: latest-bold;
    padding: 8px 16px;
}
.scroll-ele li p {
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    border: 1px solid #E6F2FB;
    border-radius: 21px;
    background: #E6F2FB;
    padding: 8px 16px;
    letter-spacing: -0.03em;
}
.scroll-ele span::after {
    content: "";
    font-family: m-fluent;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 14px;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
}
.drop-down {
    display: flex;
    justify-content: space-between;
    padding: 25px 4px;
}
.drop-down span::before {
    content: "";
    font-family: m-fluent;
    font-size: 1em;
}
.drop-down p{
    font-size: 18px;
    font-family: latest-bold;
    margin-left: -4px;
}
.build-deploy {
    line-height: 67px;
}
.build-deploy p {
   font-size: 16px;
   font-family: latest-book;
   letter-spacing: -1px;
   word-spacing: 0px;
   letter-spacing: -0.03em;
   line-height: 24px;
}
.build-deploy h2{
    font-size: 15px;
    font-family: latest-bold;
    text-decoration: underline;
    letter-spacing: -0.03em;
    word-spacing: 1px;
    margin-top: 3px;
}
.build-deploy img {
    width: 100%;
    border-radius: 15px;
}
.windows-server {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.windows-server p{
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 28px 0px;   
}
.windows-server span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent; 
}
.migration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.migration p {
   font-size: 16px;
   font-family: latest-bold;
   color: #2a446f;
   margin: 25px 0px;
}
.migration span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
}
.devop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.devop p {
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 25px 0px; 
}
.devop span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
    display: flex;
    align-items: center;
}
.cloud-scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.cloud-scale p{
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 25px 0px;
}
.cloud-scale span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
}
.all-solution {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 0px;
    column-gap: 7px;
}
.all-solution span::before{
    content: "";
    font-family: m-fluent;
    color: #fff;
}
.all-solution span{
    border: 1px solid transparent ;
    background-color: #0078d4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 31px;
}
.all-solution p{
    font-size: 15px;
    font-family: latest-bold;
    color: #2a446f;
}
.pro-service {
    background: #f4fafd;
    padding: 25px 16px;
}
.pro-service p{
    color: #263E65;
    font-size: 12px;
    font-family: latest-bold;
    margin: 0px 0px 12px;
    letter-spacing: 1px ;
}
.pro-service h3 {
    font-size: 24px;
    font-family: latest-bold;
    color: #0E1726;
    word-spacing: 0px;
    letter-spacing: -0.05em;
}
.scroll-ele2 {
    margin-top: 29px;
    position: relative;
}
 .scroll-ele2 ul {
 display:flex;
 white-space: nowrap;
 overflow: scroll;
 column-gap: 8px;
 }
 .scroll-ele2 ul::-webkit-scrollbar{
    display: none;
 }
 .scroll-ele2 li{
    position: relative;
    font-size: 16px;
    font-family: latest-book;
    white-space: nowrap;
    list-style-type: none;
}
.scroll-ele2 li h3{
    border: 1px solid #005597;
    border-radius: 21px;
    background-color: #005597;
    color: #fff;
    font-size: 16px;
    font-family: latest-bold;
    padding: 8px 16px;
}
.scroll-ele2 li p {
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    border: 1px solid #E6F2FB;
    border-radius: 21px;
    background: #E6F2FB;
    padding: 8px 16px;
    letter-spacing: -0.03em;
}
/* .scroll-ele span::after {
    content: "";
    font-family: m-fluent;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 14px;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
} */
.second-scroll span::after{
    content: "";
    font-family: m-fluent;
    position: absolute;
    bottom: 26px;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
    right: 0px;
}
.products-services {
    row-gap: 10px;
}
.azure-services {
    padding: 17px 15px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 16px;
    background-color: #fff;
    margin: 15px 0px;
}
.top{
    line-height: 28px;
}
.top {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 46px;
}
 .top img{
     height: 24px;
} 
.center-text {
   line-height: 50px;
}
.center-text h4 {
    font-size: 20px;
    font-family: latest-bold;
    letter-spacing: -0.05em;
    word-spacing: 0px;
    margin-top: 5px;
}
.center-text p{
    font-size: 16px;
    font-family: latest-book;
    line-height: 23px;
    color: #333;
    letter-spacing: -0.03em;
    word-spacing: 1px;
}

.azure-services h3 {
    font-size: 15px;
    font-family: latest-bold;
    text-decoration: underline;
}
 
.azure-service-foot {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    padding-bottom: 30px;
}
.azure-service-foot span::before {
    content: "";
    font-family: m-fluent;
    color: white;
}
.azure-service-foot span {
    border: 1px solid transparent;
    background-color: #0078d4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 32px;
}
.azure-service-foot p{
    font-size: 15px;
    font-family: latest-bold;
    margin: 5px;
    letter-spacing: -0.03em;
}
.resource-role {
    background-color: #f8f6f6;
}
.resource-transform {
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.resource-transform p{
    font-size: 12px;
    font-family: latest-bold;
    color: #263E65;
    word-spacing: 0px;
    letter-spacing: 1px;
    padding-top: 10px;
    margin-top: 20px;
}
.resource-transform h2 {
    font-size: 28px;
    font-family: latest-bold;
    white-space: nowrap;
    letter-spacing: -0.05em;
    word-spacing: -1px;
}
.roles {
    position: relative; 
}
.roles-bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.roles-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.role-scroll {
    padding: 0px 16px;
    overflow: scroll;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px #ccc;
    border-radius: 8px;
    background: #fefefe;
    margin:-25px 10px 0px 19px;
    position: relative;
    height: 48px;
}
.role-scroll::-webkit-scrollbar{
    display: none;
}
.role-scroll ul {
    display: flex;
    white-space: nowrap;
    column-gap: 20px;
}
.role-scroll li {
    list-style-type: none;
    font-size: 14px;
    font-family: latest-book;
    padding: 12px 90px 12px 12px;
    border-right: 1px solid #222;
    
}
.role-scroll li p{
    border-bottom: 2px solid #0078D4;
    padding-bottom: 10px;
    left: 0;
    opacity: 1px;
}
 .roles span::after {
        content: "";
        font-family: m-fluent;
        position: absolute;
        right: 17px;
        top: 4px;
        /* bottom: 90.95%; */
        border: 2px solid #222;
        border-radius: 20px;
        padding: 10px;
}   
.optimize-and-btn {
    padding: 30px 16px 48px;
}
.optimize-and-btn p{
    display: flex; 
    justify-content: center;
    text-align: center; 
    font-size: 18px;
    font-family: latest-bold;
    letter-spacing: -0.03em;
    word-spacing: 0px;
}
.btn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 27px 0px 0px;
}
.btn-text span::before{
    content: "";
    font-family: m-fluent;
    color: #fff;
}
.btn-text span {
    background: 1px solid transparent;
    background-color: #0078D4;
    border-radius: 6px;
    height: 31px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-text p{
    font-size: 15px;
    color: #2a446f;
    font-family: latest-bold;
}
.img {
    margin: 24px 0px 0px;
    padding: 16px;
    border: 1px solid #dceef8e0;
    border-radius: 6px;
    background: #e8f0f4e0;
}
.img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.azure-global {
position: relative;
height: 320px;
}
.azure-global-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.azure-global-bg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.azure-global h2 {
    font-size: 28px;
    color: #fff;
    font-family: latest-bold;
    display: flex;
    justify-content: center;
    padding-top: 88px;
    letter-spacing: -0.05em;
}
.global-text p{
    font-size: 17px;
    word-spacing: -1px;
    line-height: 26px;
    font-family: latest-book;
    margin: 12px 0px 0px;
    color: #fff;
    padding: 0px 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.03em;
    word-spacing: 2px;
}
.global-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b3daf0;
    background: #b3daf0;
    width: 100%;
    height: 47.5px;
    border-radius: 7px;
    margin: 39px 0px 30px 0px;
    font-size: 15px;
    font-family: latest-bold;
    letter-spacing: -0.03em;
}
.cloud-investment{
    position: relative;
    height: 795px;
}
.cloud-investment-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.cloud-investment-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cloud-head {
    padding: 40px 0px 20px;
}
.cloud-investment h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    font-family: latest-bold;
    white-space: nowrap;
    letter-spacing: -0.03em;
    text-align: center;
}
.cloud-investment h3{
    display: none;
}
.packages{
    border:1px solid transparent;
    background: rgba(255, 255, 255, 0.1);
    width: 93%;
    height: 632px;
    border-radius: 12px;
    padding: 48px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
}                  
 .package1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
}
.package2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
}
.package3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
} 
 .packages p{
    font-size: 18px;
    font-family: latest-bold;
    color: #fff;
    letter-spacing: -0.05em;
    word-spacing: 5px;
    text-align: center;
    
} 
.packages  p sup{
    text-decoration: underline;
}
.customer-story{
    padding: 48px 16px;
    background: #f4fafd;
}
.customer-story-text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
} 
.customer-story-text p{
    font-size: 12px;
    font-family: latest-book;
    letter-spacing: 1px;
}    
.customer-story-text h3 {
    font-size: 24px;
    font-family: latest-bold;
    word-spacing: 0px;
    letter-spacing: -0.05em;
}
.img-text {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 12px;
    margin-top: 20px;
}   
.img-text img {
    width: 100%;
    height: 143px;
    border-radius: 8px;
}    
.fujitsu img {
    width: 100%;
    height: 75px;
} 
.fujitsu-img-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background: #fff;
    border-radius: 12px;
}   
.fujitsu {
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 59%;
}
.fujitsu-img-text h4{
    font-size: 20px;
    /* font-weight: bold; */
    color: #17253d; 
    line-height: 30px;
    font-family: latest-bold;
    letter-spacing: -0.03em;
}
.products{
    display: flex;
    flex-direction: column;
    row-gap: 16px;margin-top: 38px;
}
.products p{
    font-size: 13px;
    font-family: latest-bold;
}
.aks {
    display: flex;
    column-gap: 10px;
    justify-content:start;
    align-items: center;
}
.aks img {
    height: 12px;
    width: 12px;
}
.aks p{
    text-decoration: underline;
    font-size: 14px;
    color: #0067b8;
    font-family: latest-book;
    line-height: 30px;
}
.devops {
    display: flex;
    column-gap: 10px;
    justify-content: start;
    align-items: center;
}
.devops img{
    height: 12px;
    width: 12px;
}
.devops p{
    font-size: 14px;
    font-family: latest-book;
    text-decoration: underline;
    color: #0067b8;
    line-height: 22px;
}
.storage {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}
.storage img{
    width: 12px;
    height: 12px;
}
.storage p{
    font-size: 14px;
    font-family: latest-book;
    text-decoration: underline;
    color: #0067b8;
    line-height: 25px;
}
.case-study span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #0078d4;
    padding: 0px 0px 2px; 
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-family: latest-bold;
    margin-top: 15px;
}  
 .left span::before {
    content: "";
    font-family: m-fluent;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 15px;
 }

  .right span::before {
    content: "";
    font-family: m-fluent;
    border: 2px solid #222;
    border-radius: 25px;
    padding: 15px;
  }  
  .left-right {
    display: flex;
    column-gap: 8px;
    margin: 40px 0px;
  }    
  .all-story {
    display: flex;
    column-gap: 10px;
  }
  .all-story span::before {
    content: "";
    font-family: m-fluent;
    color: #fff;
  }
  .all-story span {
    border: 1px solid transparent;
    border-radius: 6px;
    background: #0078d4;
    height: 31px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-story p{
    font-size: 15px;
    font-family: latest-bold;
    color: #2a446f;
    display: flex;
    align-items: center;
}
.next-steps {
    position: relative;
}
.next-steps-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.next-steps-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.next-steps h2 {
   font-size: 28px;
   font-family: latest-bold;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0px 20px 0px;
   letter-spacing: -0.05em;
}
.steps {
    padding: 0px 16px 45px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.step1 {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0px 0px 6px #ccc;
    background: #fff;
}
.keyboard-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.badge {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 48px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge img{
  width:24px ;
  height: 24px;
}
.building-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.building-text h4{
    font-size: 20px;
    font-family: latest-bold;
    word-spacing: -2px;
}
.building-text p{
    font-size: 16px;
    font-family: latest-book;
    line-height: 21px;
}
.btn-and-try {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    column-gap: 10px;
}
.btn-and-try span::before {
    content: "";
    font-family: m-fluent;
    color: #fff;
}
.btn-and-try span{
    border: 1px solid transparent;
    border-radius: 6px;
    background: #0078d4;
    height: 31px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-and-try p{
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: column;
    padding: 56px 16px;
    background: #f4fafd;
}
.links a {
    color: #0067b8;
    line-height: 26px;
    font-size: 16px;
    font-family: latest-book;
    letter-spacing: -0.03em;
    word-spacing: 1px;
}
footer {
    background: #f5f5f5;
}
.azure-mobile-app{
    padding: 48px 0px 36px;
}
.app-and-social{
    padding: 0px 18px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.get-the-app{
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background: #eaebec;
    width: 60%;

}
.get-the-app img{
    width: 24px;
    height: 24px;
}
.get-the-app p{
    white-space: nowrap;
    font-size: 14px;
}
.social-media {
    display: flex;
    column-gap: 27px;
}
.footer-row {
    padding: 0px 18px;
    margin: 36px 0px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.explore-azure {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    background: #eaebec;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
}
.explore-azure p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: latest-bold;
}
.explore-azure span::after{
    content: '\002B';
    font-family: m-fluent;
    padding: 0px 0px 0px 12px;
}
.explore-azure span {
    width: 23.41px;
    height: 20px;
}
.product-price {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background:#eaebec ;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
}
.product-price p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: latest-bold;
}
.product-price span::after{
    content: '\002B';
    font-family: m-fluent;
    padding: 0px 0px 0px 12px;
}
.product-price span {
    width: 23.41px;
    height: 20px;
}
.solution-support {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background: #eaebec;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
}
.solution-support p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family:latest-bold ;
}
.solution-support span::after{
    content: '\002B';
    font-family: m-fluent;
    padding: 0px 0px 0px 12px;
}
.partners {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background: #eaebec;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
}
.partners p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family:latest-bold ;
}
.partners span::after {
    content: '\002B';
    font-family: m-fluent;
    padding: 0px 0px 0px 12px;
}
.resources {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background: #eaebec;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
}
.resources p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: latest-bold;
}
.resources span::after{
    content: '\002B';
    font-family: -m-fluent;
    padding: 0px 0px 0px 12px;
}
.cloud-computing{
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebec;
    border-radius: 5px;
    background: #eaebec;
    width: 100%;
    height: 46px;   
    padding: 12px 24px; 
}
.cloud-computing p{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: latest-bold;
}
.cloud-computing span::after {
    content: '\002B';
    font-family: m-fluent;
    padding: 0px 0px 0px 12px;
}
.footer-nav {
    margin: 36px 0px 0px; 
    padding: 0px 18px 42px;
}
.language {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.language p{
    font-family: latest-book;
    font-size: 16px;
}
select{
    width: 63%;
    height: 36px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: latest-book;
} 
.privacy-choices {
    display: flex;
    column-gap: 10px;
    margin: 24px 0px 0px;
}
.privacy-choices p{
    font-size: 12px;
    font-family: latest-book
}
.footer-text{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 32px;
}
.footer-text p{
    font-size: 12px;
    font-family: latest-book;
}
 .footer1{
    display: flex;
    justify-content: end;
    column-gap: 10px;
    white-space: nowrap;
 }
.footer2 {
    display: flex;
    justify-content: end;
    white-space: nowrap;
    column-gap: 10px;
}
.footer3{
    display: flex;
    justify-content: end;
    white-space: nowrap;
    column-gap: 10px;
} 
.footer-bottom{
    font-size: 12px;
    font-family: latest-bold;
    display: flex;
    justify-content: end;
    margin-top: 25px;
}
.tablet-bg{
    display: none;
}
.foot1-tab{
    display: none;
}
.foot2-tab {
    display: none;
}
.build-deploy-img2{
    display: none;
}


/* MEDIA QUERIES */




/* RESPONSIVE IN MOBILE LARGE SCREENS */
@media screen and (min-width:425px){
    .laptop-bg img {
        display: none;
    }
    .first-text{
        padding: 32px 16px 22.5% 16px;
    }
    .card-text p{
        letter-spacing: -0.05em;
        word-spacing: 1px;
    }
    .section-bg{
        margin-bottom: 0px;
    }
    article {
        padding: 100px 16px 50px;
    }

    .tab-header{
        display: none;
    }
    .foot1-tab{
        display: none;
    }
    .foot2-tab{
        display: none;
    }
    .featured-news2{
        display: none;
    }
    .tablet-bg{
        display: none;
    }
    .build-deploy-img2{
        display: none;
    }
}

/* HEADER ON 768 */

@media screen and (min-width:768px){
    .top-bar {
        display: none;
    }
    .tab-header{
        display: flex;
        flex-direction: row;
        height: 55px;
        width: 100%;
    }
     .left-section {
        display: flex;
        flex-direction: row;
        padding: 0px 12px;
        column-gap: 10px;
}
    .logo-text{
        display: flex;
        align-items: center;
    }
    .logo-text img {
       width: 24px;
       height: 26.25px;
       display: flex;
       align-items: center;
       margin-bottom: -1px ;
    }
    .logo-text p{
        font-size: 18px;
        font-family: latest-bold;
        font-weight: 600;
        color: #1a1a1f;
        letter-spacing: -0.5px;
        margin-left: 12px;
        margin-bottom: 2px;
    }
    .menu{
        display: flex;
        align-items: center;
        padding-left: 2px;
        margin-bottom: 0.5px;
    }
    .menu p{
        font-size: 13px;
        font-family: latest-book;
    }
    .menu span::after{
        content: '\e70d';
        font-family: m-fluent;
        margin: 2px 0px 0px 4px;
        font-size: 9px;
        padding-top: 4px;
    }
    .explore {
        display: flex;
        padding: 20px 8px;
    }
     .pro {
        display: flex;
        padding: 20px 9px;
     }
     .solu {
        display: flex;
        padding: 20px 8px;
     }
     .pricing {
        display: flex;
        padding: 20px 9px;
     }
     .partner{
        display: flex;
        padding: 20px 8px;
     }
     .resource {
        display: flex;
        padding: 20px 9px;
     }
    .right-section{
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 7px;
        margin: 0px 0px 0px 62.53px;
    } 
    .right-section span::after {
        content:"";
        font-family: m-fluent;
        font-size: 14px;
        padding: 1px 6px;
    }
    .right-section img {
        width: 44px;
        height: 54px;
        padding: 15px 8px;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-bottom: 2px;
    }
    .right-section p{
        font-size: 13px;
        font-family: latest-book;
        margin-bottom: 1px;
        margin-left: 1px;
        letter-spacing: -0.48px;
    }
    .main-banner {
        display: none;
    }
    .tablet-bg{
        display: block;
        height: 431.54px;
        width: 100%;
    }
    .tablet-bg img{
        width: 100%;
        height: 431.54px;
        object-fit: cover;
    }
    .first-text{
        padding: 32px 64px 95px;
        
    }
    .first-text h1{
        margin-right: 10px;
    }
    .button-group{
        display: flex;
        align-items: baseline;
        column-gap: 8px;
    }
    .get-start{
        width: 104px;
        height: 48.5px;
    }
    .try-azure{
        width: 146px;
        height: 48.5px;
    }
    .section-bg-img img{
        height: 1595.31px;
    }
    .first-section{
        padding-left: 45px;
    }
    .cards {
        padding: 0px 50px;
    }
    article {
        padding: 96px 64px 10px;
    }
    .azure-services h3{
        line-height: 46px;
        margin-bottom: -7pxs;
    }
    .drop-down {
        position: relative;
    }
    .drop-down span{
        position: absolute;
        left: 23px;
        top: 30px;
    }
    .windows-server{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
    }
    .migration {
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
    }
    .devop{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
    }
    .cloud-scale {
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
    }
    .pro-service{
        padding: 48px 64px;
    }
    .resource-transform{
        padding: 16px 64px 43px;
    }
    .role-scroll{
        width: 83%;
        margin: -25px 0px 0px 66px;
    }
    .roles span::after{
        right: 64px;
        top: 4px;
    }
    .btn-text-span{
        width: 30px;
        height: 30px;
    }
    .optimize-and-btn{
        padding: 30px 16px 48px;
    }
    .globe-explore {
        display: flex;
        justify-content: center;
    }
    .global-text span{
        width: 20%;
    }
    .roles-bg-img img {
        width: 100%;
        height: 633.86px;
    }
    .img {
        width: 640px;
        height: 374.86px;
        margin: 20px 44px 0px;
    }
    .azure-global{
        height: 292px;
    }
    .cloud-investment {
        height: 668px;
    }
    .cloud-investment h2{
        display: none;
    }
    .cloud-investment h3{
        display: flex;
        justify-content: center;
        font-size: 28px;
        font-family: latest-bold;
        color: #fff;
        letter-spacing: -0.03em;
    }
    .scroll-ele ul{
        column-gap: 16px;
    }
.packages {
    width: 80%;
    height: 512px;
    margin: 0px 74px;
    padding: 28px;
}
.img-text img {
    height: 298.66px;
}
.customer-story{
    padding: 48px 64px;
}
.fujitsu-img-text img{
    height: 75px;
    width: 173px;
}
.fujitsu {
    height: 78px;
    width: 184px;
    border-radius: 10px;
}
.aks {
    column-gap: 5px;
}
.aks img {
    width: 12px;
    height: 12px;
}
.aks p{
    display: flex;
    white-space: nowrap;
} 
.devops {
    column-gap: 5px;
}
.devops img {
    width: 12px;
    height: 12px;
}
.devops p{
    display: flex;
    white-space: nowrap;
}
.storage {
    column-gap: 5px;
}
.storage img {
    width: 12px;
    height: 12px;
}
.storage p{
    display: flex;
    white-space: nowrap;
}
.product-link{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.case-study span{
    width: 17%;
    border-radius: 8px;
}
.next-steps{
    height: 800px;
}
.steps{
    row-gap: 8px;
    padding: 15px 69px 0px;
}
.links {
    padding: 56px 64px;
}
.app-and-social {
     padding: 0px 18px;
    display: flex;
    flex-direction: row;
    column-gap: 36px; 
}
.get-the-app{
    width: 211.59px;
    height: 48px;
    column-gap: 12px;
}
.social-media{
    column-gap: 24px;
}
.get-the-app p{
    font-family: latest-book;
    letter-spacing: -0.48px;
}
select{
    width: 188px;
}
.language-choice{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.footer-nav{
    margin: 3px 0px 0px;
}
.foot-text {
    row-gap: 24px;
}
.footer-row{
    row-gap: 37px;
}
.footer1 , .footer2 , .footer3{
    display: none;
}
.footer-bottom{
    display: none;
}
.privacy-choices{
    margin: 46px 0px 0px;
}
.foot1-tab{
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: latest-book;
    letter-spacing: -0.03em;
    column-gap: 15px;
}
.foot2-tab {
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: latest-book;
    column-gap: 13px;
    letter-spacing: -0.03em;
}
.foot2-tab h3{
    font-family: latest-bold;
    font-size: 12px;
    margin: 0px 0px 11px 0px;
}


.featured-news2{
    display: none;
}
.build-deploy-img2{
    display: none;
}
}


/* RESPONSIVE ON LAPTOP 1024PX */

@media screen and (min-width:1024px){
    .right-section{
        display: flex;
        justify-content: flex-end;
        margin: 0px 0px 0px 319px;
    }
    .right-section p{
        word-spacing: 0.15px;
    }
    .main-banner{
        display: none;
    }
    .tablet-bg{
        display: none;
    }
    .first-main-sec {
        position: relative;
    }
     .laptop-bg{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 544px;
        width: 100%;
        z-index: -1;
    } 
    .laptop-bg img{
        display: block; 
        width: 100%;
        height: 544px;
        object-fit: cover; 
    }
    .first-main-txt{
        padding: 60px 0px 49px;
    }
    .first-text {
        background: transparent;
        padding: 36px 56px 95px;
    }
    .first-text h1{
        font-size: 40px;
        margin-right: 434px;
        line-height: 48px;
    }
    .first-text p{
        margin-right: 470px;
        margin-top: 16px;
    }
    .button-group{
        padding-top: 8px;
    }
    .get-start {
        width: 120px;
        height: 48px;
    }
    .get-start span{
        letter-spacing: -0.03em;
        word-spacing: 0.75px;
        margin-left: -2px;
    }
    .try-azure {
        width: 162px;
        height: 48px;
    }
    .try-azure span{
        letter-spacing: -0.03em;
        word-spacing: 0.85px;
        margin-left: -1px;
    }
    .featured-news::after{
        display: none;
    }
    .featured-news{
        padding: 0px;
        justify-content: start;
        align-items: center;
        height: 56px;
        top: -1px;
    }
    .featured-news p{
        display: none;
    }
    .featured-news ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        column-gap: 50px;
        padding-bottom: 6px;
        padding-left: 3px;
    }
    .featured-news ul li {
        font-size: 14px;
        font-family: latest-book;
        letter-spacing: -0.03em;  
        color: #2a446f; 
        white-space: nowrap; 
    }
    .featured-news2{
        display: flex;
        padding: 0px 56px;
    }
    .featured-news2 h3{
        margin-left: 165px;
        border: 1px solid transparent;
        border-radius: 8px;
        background: #89c402;
        height: 32px;
        width: 84.17px;
        padding: 2px 10px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: latest-bold;
        letter-spacing: -0.03em;
        word-spacing: 1px;
        padding: 0px 11px 2px;
        margin-bottom: 1px;
    }
    .featured-news ul li span{
        border-bottom: 4px solid #0067b8;
        padding-bottom: 17px;
    }
    .first-section{
        padding-top: 95px;
        padding-left: 40px;
    }
    .first-section p{
        letter-spacing: 1px;
    }
    .first-section h2{
        margin-top: 16px;
        font-size: 30px;
    }
    .cards {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        height: 420.95px;
        width: 920px;
        padding: 0px;
        margin: 48px 41px 40px;
    }
    .section-bg{
        height: 728.95px;
    }
    .section-bg-img{
        object-position: 28% -15%;
    }
    .card{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 290.66px;
    }
    .card-text{
        padding: 19px 12px 19px 15px;
    }
    .card-text p{
        line-height: 1.5rem;
        padding-top: 24px;
        letter-spacing: -0.48px;
        word-spacing: 0px;
        font-weight: 400;
    }
    .card-text h2{
        letter-spacing: -0.03em;
        word-spacing: 0px;
        padding-right: 10px;
     }
    .card-footer{
        column-gap: 8px;
        margin-top: 30px;
    } 
    .card-footer p{
        letter-spacing: -0.3px;
    }
    .chat-sales{
        width: 156.67px;
        padding-top: 2px;
        border-radius: 7px;
        right: 17px;
    }
    .chat-sales p{
        transform: translateY(-1px);
    }
    .chat-sales span::after{
        margin-left: -14px;
    }
    article{
        padding: 72px 56px;
        height: 899px;
    }
    .solutions h3{
        margin-right: 473px;
        margin-top: 2px;
        /* letter-spacing: -1.2px; */
        word-spacing: -0.8px;
    }
    .solutions{
        margin-top: -17px;
    }
    .solution p{
        margin-top: -12px;
    }
    .scroll-ele {
        margin-top: 29px;
    }
    .scroll-ele span::after{
        display: none;
    }
    .scroll-ele ul{
        column-gap: 12px;
    }
    .scroll-ele li p{
        padding: 9px 28px;
    }
    .scroll-ele li h3{
        padding: 9px 22px;
    }
    .solution-flex-right{
        width: 60%;
        padding-left: 175px;
        margin-top: -1px;
    }
     .build-deploy img {
        display: none;
    }
    .build-deploy-img2{
        display: block;
    }
    .build-deploy-img2 img{
        width: 452px;
        height: 339px;
        border-radius: 15px;
        margin-top: 16px;
    }
    .solution-flex{
        display: flex;
        padding: 0px 8px;
    }
    .solution-flex-left{
        height: 492px;
        width: 30%;
        overflow: scroll;
    }
    .solution-flex-left::-webkit-scrollbar{
        display: none;
    }
    .drop-down {
        margin-top: -11px;
        margin-left: 41px;
        letter-spacing: normal;
        color: #263E65;
    }
    .build-deploy p{
        margin-left: 41px;
        margin-top: 8px;
        line-height: 24px;
    }
    .build-deploy h2{
        margin-bottom: 6px;
        margin-left: 41px;
        margin-top: 11px;
        word-spacing: 0px;
    }
    .windows-server{
        margin-left: 44px;
        padding-top: 7px;
        column-gap: 8px;
    }
    .windows-server p{
        font-size: 17px;
        margin: 32px 0px;
        letter-spacing: -0.54px;
    }
    .migration{
        margin-left: 44px;
        line-height: 24px;
        padding-top: 2px;
    }
    .migration p{
        font-size: 17px;
        margin: 32px 0px;
    }
    .devop{
        margin-left: 44px;
        column-gap: 7px;
    }
    .devop p{
        font-size: 17px;
        white-space: nowrap;
        margin: 32px 0px;
    }
    .cloud-scale {
        margin-left: 44px;
    }
    .cloud-scale p{
        font-size: 17px;
        margin: 32px 0px;
    }
    .solution-ai{
        display: flex;
    }
    .indicator-line{
        width: 0.45rem;
        height: auto;
        background: #0067b8;
    }

    .pro-service {
        padding: 72px 56px;
    }
    .pro-service p{
        margin: 0px 0px 16px;
    }
    /* .pro-service h3{
        margin-top: 16px;
    } */
    .second-scroll span::after{
        display: none;
    }
    .scroll-ele2 li h3{
        padding: 9px 25px;
    }
    .scroll-ele2 li p{
        padding: 8px 25px;
    }
}