* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
@font-face {
    font-family: "latest-book";
    src: url('azure img/latest.woff2');
}
@font-face {
    font-family:"latest-bold";
    src: url("azure img/latest (1).woff2");
}
@font-face {
    font-family: "m-fluent";
    src: url('azure img/MWFFluentIcons.woff2');
}
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.toggi{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 12px;
}
.toggi img {
    width: 20px;
    height: 45px;
}
.toggi p{
   font-size: 17px;
    font-family: latest-bold;
     padding-bottom: 7px; 
    }
.azure-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */

}
 .azure-logo img {
   padding-left: 19px;
} 
.top-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    column-gap: 32px
}
span {
    height: 16px;
}
.top-end span::after{
    content:"";
    font-family: "m-fluent";
    font-size: 18px;
}
.top-end p {
   font-size: 14px;
   font-family: "latest-book";
}
.main-banner{
    height: 56vw;
    margin-top: -1px;
}
.main-banner img {
    width: 100%;
    height: 100%;
}
.first-text
{
    background: linear-gradient(90deg, #ede8f6 0%, #f4fafd 49.99%, #dceef8 100%);
  padding: 34px 16px 25.5% 16px
}
.first-text h1 {
    display: flex;
    justify-content: start;
    font-size: 32px;
    font-family: latest-bold;
    color: #17243D;
    letter-spacing: -2px;
    word-spacing: 1px;
    line-height: 40px;
}
.first-text p{
    font-size: 18px;
    font-family: latest-book;
    color: #17243D;
    line-height: 28px;
    margin-top: 10px;
    word-spacing: -3px;
}
.get-start span{
 display: flex;
 justify-content: center;
 font-size: 15px;
 font-family: latest-bold;
 padding: 2px 0px 0px;
 color: #fff;
 word-spacing: -1px;
}
.get-start{
    border: 1px solid #0078d4;
    border-radius: 7px;
    background-color: #0078d4;
    height: 47.5px;
    width: 100%;
    padding: 10px 14px;
 margin-top: 24px;
}
.try-azure span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: latest-bold;
    padding: 8px 0px 2px;
    color: #2a446f;
    word-spacing: -1px;
}
.try-azure {
    border: 2px solid #333;
    border-radius: 7px;
    background-color: transparent;
   height: 48px;
    width: 100%;
    padding: 10px 14px;
    margin-top: 8px;
}
.featured-news {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 16px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    border-bottom: 10px;
    height: 60px;
}
.featured-news p{
    font-size: 12px;
    font-family: latest-book;
}
.featured-news::after{
    content: "";
    font-family: m-fluent;
}
section {
    /* position: relative; */
 padding: 45px 16px 35px 16px;
 background: url("azure img/Background-2.avif");
 background-repeat: no-repeat;
 background-size: cover; 
}
/* .bg-img img{
   position: relative;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
} */
.first-section p {
   font-size: 12px;
    font-family: latest-bold;
    color: #263E65;
    margin-bottom: 10px;
}
.first-section {
    font-size: 28px;
    font-family: latest-bold;
    margin-top: 16px;
}

.card{
    padding: 7px;  
    padding-bottom: 0px; 
   margin-top: 30px;
    border: 1px solid #fff ; 
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: -22px;
}
.card img{
   width: 100%;
   border-radius: 6px;
}
.card-text {
    padding: 13px 6px 13px 6px;
}
.card-text h2{
    font-size: 18px;
    font-family: latest-bold;
}
.card-text p{
    font-size: 16px;
    font-family: latest-book;
    line-height: 24px;
    padding-top: 15px;
    letter-spacing: 0px;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    margin-top: 14px;
}
.card-footer span::before{
    content: "";
    font-family: "m-fluent";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
}
.card-footer span{
    border: 1px solid transparent;
    background-color: #0078d4;
    border-radius:6px;
    align-items: center;
    height: 31px;
    width: 32px; 
    margin-top: 17px;
}
.card-footer p{
    font-size: 15px;
    font-family: latest-bold;
    color: #2a446f;
}

article {
    background: #F4FAFD;
    padding: 70px 16px;
}
.solutions{
    line-height: 45px;
}
.solutions p{
   font-size: 12px;
   font-family: latest-bold;
   color: #263E65;
}
.solutions h3 {
    font-size: 23px;
    font-family: latest-bold;
    line-height: 25px;
    word-spacing: -3px;
}
 .scroll-ele {
    margin-top: 20px;
}
 .scroll-ele ul {
 display:flex;
 white-space: nowrap;
 overflow: scroll;
 column-gap: 13px;
 }
 .scroll-ele ul::-webkit-scrollbar{
    display: none;
 }
 .scroll-ele li{
    position: relative;
    font-size: 16px;
    font-family: latest-book;
    white-space: nowrap;
    list-style-type: none;
}
.scroll-ele li h3{
    border: 1px solid #005597;
    border-radius: 21px;
    background-color: #005597;
    color: #fff;
    font-size: 16px;
    font-family: latest-bold;
    padding: 8px 16px;
}
.scroll-ele li p {
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    border: 1px solid #E6F2FB;
    border-radius: 21px;
    background: #E6F2FB;
    padding: 8px 16px;
}
.scroll-ele span::after {
    content: "";
    font-family: m-fluent;
    font-size: 16px;
    position: absolute;
    right: 11px;
    top: 279%;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
}
.drop-down {
    display: flex;
    justify-content: space-between;
    padding: 25px 4px;
}
.drop-down span::after{
    content: "";
    font-family: m-fluent;
}
.drop-down p{
    font-size: 18px;
    font-family: latest-bold;
}
.build-deploy {
    line-height: 67px;
}
.build-deploy p {
   font-size: 16px;
   font-family: latest-book;
   letter-spacing: -1px;
   word-spacing: 2px;
   line-height: 25px;
}
.build-deploy span{
    font-size: 15px;
    font-family: latest-bold;
    text-decoration: underline;
    padding: 10px 0px;
}
.build-deploy img {
    width: 100%;
    border-radius: 12px;
}
.windows-server {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.windows-server p{
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 25px 0px;   
}
.windows-server span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent; 
}
.migration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.migration p {
   font-size: 16px;
   font-family: latest-bold;
   color: #2a446f;
   margin: 25px 0px;
}
.migration span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
}
.devop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.devop p {
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 25px 0px; 
}
.devop span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
    display: flex;
    align-items: center;
}
.cloud-scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.cloud-scale p{
    font-size: 16px;
    font-family: latest-bold;
    color: #2a446f;
    margin: 25px 0px;
}
.cloud-scale span::before{
    content: "";
    font-size: 16px;
    font-family: m-fluent;
}
.all-solution {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 0px;
    column-gap: 10px;
}
.all-solution span::before{
    content: "";
    font-family: m-fluent;
    color: #fff;
}
.all-solution span{
    border: 1px solid transparent ;
    background-color: #0078d4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 32px;
}
.all-solution p{
    font-size: 15px;
    font-family: latest-bold;
    color: #2a446f;
}
.pro-service {
    background: #f4fafd;
    padding: 0px 16px;
}
.pro-service p{
    color: #263E65;
    font-size: 12px;
    font-family: latest-bold;
    margin: 0px 0px 12px;
}
.pro-service h3 {
    font-size: 24px;
    font-family: latest-bold;
    color: #0E1726;
    word-spacing: -2px;
}
.second-scroll span::after{
    content: "";
    font-family: m-fluent;
    position: absolute;
    right: 11px;
    top: 405%;
}
.products-services {
    row-gap: 10px;
}
.azure-services {
    padding: 20px 16px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 16px;
    background-color: #fff;
    margin: 15px 0px;
}
.top{
    line-height: 28px;
}
.top {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 46px;
}
 .top img{
     height: 24px;
} 
.center-text {
   line-height: 50px;
}
.center-text h4 {
    font-size: 20px;
    font-family: latest-bold;
}
.center-text p{
    font-size: 16px;
    font-family: latest-book;
    line-height: 23px;
    color: #333;
}

.azure-services span {
    font-size: 15px;
    font-family: latest-bold;
    text-decoration: underline;
}
 
.azure-service-foot {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 30px;
}
.azure-service-foot span::before {
    content: "";
    font-family: m-fluent;
    color: white;
}
.azure-service-foot span {
    border: 1px solid transparent;
    background-color: #0078d4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 32px;
}
.azure-service-foot p{
    font-size: 15px;
    font-family: latest-bold;
    margin: 5px;
}
.resource-role {
    /* padding: 40px 0px 0px;
    margin: 0px 0px 24px; */
    background-color: #f8f6f6;
}
.resource-transform {
    line-height: 34px;
    padding: 0px 16px 30px;
}
.resource-transform p{
    font-size: 12px;
    font-family: latest-bold;
    color: #263E65;
    word-spacing: 2px;
}
.resource-transform h2 {
    font-size: 28px;
    font-family: latest-bold;
    white-space: nowrap;
    letter-spacing: -1px;
    word-spacing: -1px;
}
.roles {
    /* padding: 0px 16px; */
    /* background: url("azure img/Desktop-Resources-background-v2.avif");
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative; 
}
.roles-bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.roles-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.role-scroll {
    padding: 0px 16px;
    overflow: scroll;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px #ccc;
    border-radius: 8px;
    background: #fefefe;
    margin:-12px 10px 0px 10px;
    position: relative;
}
.role-scroll::-webkit-scrollbar{
    display: none;
}
.role-scroll ul {
    display: flex;
    white-space: nowrap;
    column-gap: 20px;
}
.role-scroll li {
    list-style-type: none;
    font-size: 14px;
    font-family: latest-book;
    padding: 12px 90px 12px 12px;
    border-right: 1px solid #222;
    
}
.role-scroll li p{
    border-bottom: 2px solid #0078D4;
    bottom: 0;
    left: 0;
    opacity: 1px;
}
 .roles span::after {
        content: "";
        font-family: m-fluent;
        position: absolute;
        right: 7px; 
        bottom: 90%;
        border: 2px solid #222;
        border-radius: 20px;
        padding: 10px;
}   
.optimize-and-btn {
    padding: 30px 16px 48px;
}
.optimize-and-btn p{
    display: flex; 
    justify-content: center; 
    font-size: 18px;
    font-family: latest-bold;
}
.btn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 27px 0px 0px;
}
.btn-text span::before{
    content: "";
    font-family: m-fluent;
    color: #fff;
}
.btn-text span {
    background: 1px solid transparent;
    background-color: #0078D4;
    border-radius: 6px;
    height: 31px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-text p{
    font-size: 15px;
    color: #2a446f;
    font-family: latest-bold;
}
.img {
    margin: 24px 0px 0px;
    padding: 16px;
    border: 1px solid #dceef8e0;
    border-radius: 6px;
    background: #e8f0f4e0;
}
.img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;

}
.azure-global {
position: relative;
height: 320px;
}
.azure-global-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.azure-global-bg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.azure-global h2 {
    font-size: 28px;
    color: #fff;
    font-family: latest-bold;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.global-text p{
    font-size: 17px;
    word-spacing: -1px;
    line-height: 13px;
    font-family: latest-book;
    margin: 12px 0px 0px;
    color: #fff;
    padding: 0px 4px;
    display: flex;
    justify-content: center;
}
.global-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b3daf0;
    background: #b3daf0;
    width: 97%;
    height: 47.5px;
    border-radius: 7px;
    margin: 20px 0px 30px 0px;
    font-size: 15px;
    font-family: latest-bold;
}
.cloud-investment{
    position: relative;
    height: 824px;
    margin-top: -1px;
}
.cloud-investment-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.cloud-investment-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cloud-head {
    padding: 40px 0px 0px;
}
.cloud-investment h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    font-family: latest-bold;
    white-space: nowrap;
}

.packages{
    border:1px solid transparent;
    background: rgba(255, 255, 255, 0.1);
    width: 94%;
    height: 632px;
    border-radius: 12px;
    padding: 48px;
    margin-top: 28px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
}                  
 .package1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
}
.package2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
}
.package3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
} 
 .packages p{
    font-size: 18px;
    font-family: latest-bold;
    color: #fff;
    letter-spacing: 0px;
    
} 
.customer-story{
    padding: 48px 16px;
}
.customer-story-text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
} 
.customer-story-text p{
    font-size: 12px;
    font-family: latest-book;
}    
.customer-story-text h3 {
    font-size: 24px;
    font-family: latest-bold;
    word-spacing: 0px;
    letter-spacing: -1px;
}
.img-text {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 20px;
}   
.img-text img {
    width: 100%;
    height: 143px;
}    
.fujitsu img {
    width: 100%;
    height: 75px;
} 
.fujitsu-img-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}   
.fujitsu {
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 59%;
}
.fujitsu-img-text h4{
    font-size: 20px;
    color: #dceef8;
    line-height: 25px;
    font-family: latest-bold;
}
.products{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.products p{
    font-size: 13px;
    font-family: latest-bold;
}
.aks {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.aks img {
    height: 12px;
    width: 12px;
}
            
        