
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
    font-family: arial;
}
#container{
    background-color: rgb(247, 240, 240);
     border: 2px solid grey;
     border-radius: 30px;
     display:flex;
    justify-content:space-evenly;
     position: fixed ;
     left:30px;
     top: 10px;
     height:85px;
     width: 600px;
     padding: 30px;
}
h3 {
    font-size: 24px;
}
h4{
    font-weight: normal;
}
 /* .topbar h3 , h4{
    display: flex;
 } */
.search  {
    /* width: 20px; 
    height: 20px; */
    margin-left: 45px;
    margin-top: 23px;
    justify-content: start;
    
}
 /* .topbar img{
    margin-left: 100px;
    margin-top: 100px;
   }  */
.main h1,h2{
position: relative;
left: 10px;
 flex: column; 
 margin-right:50px ;
}
.logo img{
    height:50px;
    width: 50px;
    position: fixed;
    /* top: 10px; */
   margin-top: 35px;
   margin-left: 800px;
   border: 2px solid grey;
   border-radius: 30px;
}

.images  {
     display: flex;
      /* height: 35px;
    width: 35px;   */
    margin-top: 80px;
   margin-left: 80px; 
   overflow: scroll;
   float: left;  
   width: 5.3;
    
}
.short {
    padding: 0 14px;
    position: absolute;
    top: 30px;
    left: 10px;
}
.short ::after {
    content: "";
    display: table;
    clear: both;
}
.images h3{
    font-size: 12px;
    font-weight: none;
    top: 100px;
display: inline-block;
white-space: nowrap;
display: inline;
margin: 0 4px 0 0;
}