
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
} 
.topbar{
    display: flex;
    width:101%;
    justify-content: space-around;
    padding: 19px 0px;
    padding-top: 12px;
}
#container-mobile{
    -webkit-box-align: center;
     border: 2px solid grey;
      border-radius: 30px;
     display:flex; 
    justify-content:flex-start;
    padding-left: 17px;
     height:57px;
     top: 10px;
     border: 0.5px solid rgba(0,0,0,0.08);
     box-shadow: 0 3px 10px rgba(0,0,0,0.1);
     width:73.5%;
     z-index: 1;
     margin-left: 10px;
     margin-top: 10px; 
}
h3 {
    padding-top: 10px;
    padding-right: 14px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    
}
h4{
    font-weight: normal;
    /* color: var(--fo-jk-r-s); */
    display: flex;
    font-size: 12px;
    line-height: 16px;
}
#container-mobile {
 column-gap: 15px;
}
.search  {
    cursor: pointer;
    display: block;
}
 #container-mobile .search img {
    width: 83%;
   height: 77%;
    padding-top: 15px;
    padding-left: 10px;
  
}
.main h1,h2{
left: 10px;
 flex: column; 
}
.logo {
    padding-top: 9px;
    padding-right: 13px;
}
.logo img{
    height:40px;
    width: 40px;
   margin-top: 35px;
   border: 1px solid grey;
   border-radius: 30px;
   float: right;
   margin: 0 10px;
   display: flex;
   box-sizing: border-box;
   padding: 11px; 
}
.images  {
     display: flex;
   width: 100%;
   height: 100%;
   column-gap: 7.5px;
   padding-left: 10px;
}
 /* .images::-webkit-scrollbar {
    display: block;
}  */
.short {
    overflow: scroll;
    padding-left: 10px; 
    padding-top: 15px;
    padding-bottom: 11px;
    column-gap: 40px;
    margin-bottom: 14px;
    margin-top: -16px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.1); 
}
 .heading h2 {
    margin-top: 10px;
    padding-top: 10px;
 }
.short h3 {
    font-size: 14px;
    font-weight: normal;
 }
 .short h3:hover {
    color: black;
 }
 .short  {
    display: flex;
    overflow: scroll;
     white-space: nowrap; 
 }
 .short::-webkit-scrollbar {
    display: none;
} 
.images h3{
    font-size: 12px;
    font-weight: none;
    top: 100px;
display: inline-block;
white-space: nowrap;
display: inline;
margin: 0 4px 0 0;
}
 #pic {
    width: 25px;
    height: 25px;
    opacity: 0.6425339366515838;
    justify-content: space-evenly;
}
.taxbar {
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    height: 69px;
    padding: 14px 10px;
    padding-left: 10px;
    padding-right: 10%;
    position: relative;
    margin: 22px 15px;
    display: flex;
    justify-content: space-around;
}
.btn-holder{
    width: 48px;
    height: 32px ;
    border-radius: 32px;
    background: #b9b8b8;
    padding: 1px;
    justify-content: end;
}
.button {
    border-radius: 50px;
    background: #fff;
    height: 50%;
    width: 50%; 
 }
 #villa {
    display: grid;
    grid-template-columns: repeat(4,1fr);
 }
 .img-grid {
    grid-column: span 4;
 }
/* .stay {
    display: grid;
    grid-template-columns: repeat(4,1fr);
} */
.spot {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 22px;
   overflow-x: scroll;
   white-space: nowrap;
   /* grid-column: span 4; */
}
.spot::-webkit-scrollbar {
    display: none;
}
.spot img{
    max-width: 96%;
    height:96%;
    padding-left:18px;
   padding-right: 0px; 
    aspect-ratio: 20/19;
    margin: 0px;
}
.spot img {
    width: 100%;
    height: 100%; 
    border-radius: 37px;
}
.stay{
    position: relative;
    padding-top: 10px;
    padding-bottom: 15px;
}
.slide-buttons {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 3s ;
} 
.wishlist {
    position: absolute;
   padding-left: 300px; 
    padding-right: 20px; 
    padding-top: 25px;
    z-index: 1;
    border: none;
    margin: -8px 0 0;
}
.radio {
    position: absolute;
    bottom:20px;
    left: 47%;
    z-index: 1;
    height: 5%;
    width: 50%;
    cursor: pointer;
} 
.radio:hover {
   color: #b25757;
}
.text1 {
    margin-left: 15px;
    margin-top: 0px;
    padding-bottom: 10px;
    white-space: nowrap;
    line-height: 2.34;
}
.place h3 {
 font-size: 100%;
 margin-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
}
.km  h3{
    font-weight: normal;
    font-size: 100%;
    margin-left: 10px;
    white-space: nowrap;
    line-height: 12px;
}
.date h3 {
    font-weight: normal;
    font-size:100%;
    margin-left: 10px;
    line-height: 12px;
}
   .price h3,p {
    font-size: 100%;
    margin-left: 10px;
    font-weight: normal;
    display: inline;
    white-space: nowrap;
}
.price h3{
    font-weight: bold;
}
.price p {
    margin-left: 6px;
    font-weight: normal;
    font-size: 100%;
}
.star {
    position: absolute;
     padding-left: 300px;
    padding-right: 20px;
    padding-top: 4px;
    display: grid;
}
.star img {
    width: 80%;
    height: 80%;
}
 .star h3 {
    position: absolute; 
    padding-left: 324px;
    padding-right: 10px;
    padding-top: 0px;
} 
 section h2 {
    text-align: center;
    margin-top: 46px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
 }
  .button input {
    border-radius: 12px ;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px; 
    padding-right: 24px; 
  border-width: 1px;
    border-style: solid;
    background: #333;
    color: #fff;
    display: flex;
    font-size: 16px;
 } 
 .button {
    padding-left: 33%;
    padding-top: 2px;
    padding-right: 33%;
    padding-bottom: 27px;
 }
.heading h2{
     font-size: 22px;
     color: #333;
     text-align: center;
     padding-top: 10px;
     margin: 0 0 14px;
 }
 #footer {
    background: #f1f0f0;
     padding: 8% 8px; 
 }
 
 .sidebar2 img {
    display: block;
    height: 16px;
    width: 16px;
    /* justify-content: end; */
 }
 .scrolling-ele h3 {
    overflow: scroll;
    padding-left: 26px; 
    padding-top: 15px;
    margin-right: 0px;
    column-gap: 40px;
    margin-bottom: 20px;
    margin-top: -16px;
 }
 .scrolling-ele h3 {
    font-size: 14px;
    font-weight: normal;
 }
 .scrolling-ele:hover {
    color: black;
 }
 .scrolling-ele {
    display: flex;
    overflow: scroll;
     white-space: nowrap; 
 }
 /* .scrolling-ele::-webkit-scrollbar {
    display: none;
}  */
.scrolling-ele {
    border-bottom: 1px solid #ccc;
}
 .foot-text  {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0px;
     margin-right: 6px; 
     line-height: 2;
     /* line-height: 2.43; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.foot-text h3 , p {
    margin-left: 10px;
    font-size: 14px;
}
.foot-text p{
    font-size: 15px;
    font-weight: normal;
} 
.foot-text {
    border-bottom: 1px solid #ccc;
}
.drop img{
    height: 12px;
    align-items: end;
    width: 12px;
    display: flex;
    margin-left: 90px;
    margin-top: -15px; 
}
.sup-elements {
    color: #333;
    font-size: 15px;
    padding-top: 10px;
    display: grid;
    line-height: 2.43;
}
.sup-elements h3 {
    padding-left: 10px;
}
.sup-elements p {
 font-weight: normal ;
} 
.sup-elements {
    border-bottom: 1px solid #ccc;
}
.host-elements {
    padding-top: 10px;
    font-size: 15px ;
    display: grid;
    line-break: strict;
    line-height: 2.43;
    color: #222;
    border-bottom: 1px solid #ccc;
}
.host-elements h3{
    padding-left: 10px ;
}
.host-elements p{
   font-weight:normal ;
}

.airbnb {
    padding-top: 10px;
    font-size: 15px ;
    display: grid;
    line-break: strict;
    line-height: 2.43;
    color: #222; 
    border-bottom: 1px solid #ccc;
}
.airbnb h3 {
    padding-left: 10px;
}
.first-foot {
    display: flex;
    column-gap: 10px;
    line-height: 2.43;
    font-size: 14px;
    
}
.first-foot img {
    padding-top: 17px;
    font-weight: 600;
}
.first-foot h3 {
    padding-top: 17px;
    font-weight: 600;
    font-size: 14px;
}
.first-foot h4{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 600;
}
.footer-bottom {
    font-size: 15px;
    padding-left: 20px;
    font-weight: normal;
}
.second-foot {
    line-height: 1.86;
}
.footer-bottom li {
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.location {
    display: flex;
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    margin-left: 23%;
    left: 145px;
    background: #333;
    border-width: 1px;
    border-style: solid;
    height: 4%;
    width: 23%;
    padding: 11px;
    z-index: 1;
}
.location span {
   color: #fff;
   padding-left: 6px;
}
.map img {
    width: 30px;
    height: 16px;
}
.location input{
    color: #fff;
    
}




#tab {
    display: flex;
    border-bottom: 10px;
}


.air-logo img {
     padding-top: 10px;
     padding-left: 46px;
     margin-top: 15px;
}
#container-tab {
     width: 42%;
      border-radius: 30px;
     display:flex; 
     padding-top: 6px;
     padding-left: 29px;
     margin-top:15px ;
    margin-left: 3%;
   margin-bottom: 15px;
     height:48px;
     top: 10px;
      border: 0.5px solid rgba(0,0,0,0.08); 
     box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.find img {
    width: 93%;
    height: 88%;
}
.find {
    border: 1px solid rgb(245, 77, 105);
    border-radius: 50%;
    padding: 7px;
    margin-top: 6px;
    background: rgb(245, 77, 105);
    padding-left: 10px ;
    margin-bottom: 3px;
    margin-left: 26px;
    padding-left: 10px;
    padding-right: 8px;
}
.air-home {
    font-size: 9px;
    margin-top: 35px;
    margin-left: 21px;
}
.container-tab2{
    display: flex;
    border: 0.5px solid rgba(0,0,0,0.08); 
    border-radius: 25px;
    width: 65%;
    padding-top: 6px;
    padding-left: 12px;
    margin-top: -25%;
    margin-left: 155%;
    column-gap: 3px;
}
.anywhere h3 {
    border-right: #222;
}
.language {
    margin-top: -13%;
}
.language img {
    width: 13%;
    height: 5%;
   margin-left: 126%;
}
.toggi-menu img {
    width: 58%;
    height: 92%;
}
.profile img {
    width: 90%;
    height: 90%;
}
.scroll-sidebar {
    width: 28px;
height: 28px;
}
.scroll-sidebar img {
    position: absolute;
    margin-left: 50%;
    margin-top: -8%;
    width: 3%;
    height: 3%;
    padding: 5px;
     border: 1px solid #333 ;
     box-shadow: 0 0px 0px rgba(0,0,0,0.1);
    border-radius: 50%; 
}
.filter {
    border: 0.5px solid rgba(204, 201, 201, 0.8);
    border-radius: 12px;
    height: 38px;
    width: 91px;
    margin-left: 55%;
    margin-top: -13%;
    text-align: center;
}
.filter img{
    padding: 11px;
}
.filter span {
    padding: 10px;
    font-size: 12px;
    margin-left: -10px;
}
.taxbar2{
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 29%;
    cursor: pointer;
    padding: 7px 10px;
    margin-top: -5.5%;
     margin-left:68% ; 
    position: relative;
    display: flex;
    justify-content: space-around;
}
.taxbar2 h3{
    padding: 5px;
    font-size: 12px;
}
.btn-holder2{
    width: 41px;
    height: 27px ;
    border-radius: 32px;
    background: #ccc;
    padding: 2px;
    justify-content: end;
}
.button2 {
    border-radius: 50px;
    background: #fff;
    height: 90%;
    width: 53%; 
}
.location p {
    color: #fff;
}
 #container-tab .addguest h3{
    font-size: 14px;
    font-weight: normal;
}
#container-tab .anywhere h3 {
    font-size: 14px;
    border-right: 1px solid #ccc;
}
#container-tab .anyweek h3 {
    font-size: 14px;
    border-right: 1px solid #ccc;
}
/* ////////////////////////// */


/* @media screen and (min-width:325px){ */
    .air-logo {
        display: none;
    }
     #container-tab {
        display: none;
    } 
    #tab {
        display: none;
    }
    .scroll-sidebar {
        display: none;
    }
    .filter {
        display: none;
    }
    .taxbar2 {
        display: none;
    }
    .location p {
        display: none;
    }
   
/* } */



/* RESPONSIVE MOBILE L */
@media screen and (min-width:425px){
    .short {
        padding-left:37px;
        padding-bottom: 14px;
    }
    .wishlist{
        padding-left: 348px;
    }
    .taxbar2 {
        display: none;
    }
}


@media screen and (min-width:550px){
    .spot {
        grid-column:span 2;
    }
}

/* RESPONSIVE TABLET */
@media screen and (min-width:768px){
   #container-mobile {
    display: none;
  }
  .topbar {
    display: none;
  } 
  .logo {
    display: none;
  }
  .air-logo {
    display: block;
  }
  #container-tab {
    display: flex;
  }
  #container-tab .addguest {
    font-weight: normal;
  }
  .short {
    margin-top: 5px;
  }
  #tab {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  .short {
    width: 372px;
    position: relative;
  }
  .scroll-sidebar {
    display: block;
  }

  .short{
    box-shadow: 0 0px 0px rgba(0,0,0,0.1);
  }
  .filter {
    display: flex;
  }
  .taxbar{
    display: none;
}
.taxbar2 {
    display: flex;
}
.spot {
    padding-top: 43px;
}
.wishlist {
    padding-top: 69px;
    padding-left: 323px;
}
.short {
 padding-top: 46px;
}
.radio {
    left: 47%;
}
.location {
    height: 5%;
    width: 17%;
}
.location span {
    display: none;
}
.location p {
    display: block;
}
.img-grid {
    grid-column: span 2;
 }
/* .spot {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 22px;
   overflow-x: scroll;
   white-space: nowrap;
   grid-column: span 2;
} */
}